* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	position: relative;
	width: 100%;
	max-width: 1250px;
}

.controls {
	position: absolute;
	width: 100%;
	bottom: 10px;
	height: 40px;
	display: flex;
	align-items: center;
}

.btn {
	border: none;
	background-color: transparent;
	padding: 4px 6px;
	cursor: pointer;
	outline: none;
	margin: 0 10px;
}

.fullscreenControls {
	position: absolute;
	right: 0;
}

.progressContainer {
	position: absolute;
	bottom: 55px;
	height: 6px;
	width: calc(100% - 40px);
	background-color: #cccccca1;
	left: 20px;
	cursor: pointer;
}

.progressbar {
	height: 100%;
	position: absolute;
	background-color: #fff;
}

.progress {
	height: 100%;
	width: 0;
	background-color: #da2222;
	position: absolute;
}

.timerContainer {
	color: #fff;
	font-family: poppins;
	margin: 0 10px;
	min-width: 55px;
}

.volumeContainer {
	display: flex;
	align-items: center;
	position: relative;
}

.volProgContainer {
	width: 100px;
	height: 5px;
	background-color: #cccccca1;
	cursor: pointer;
	position: absolute;
	left: 48px;
}

.volProgress {
	width: 0;
	height: 100%;
	background-color: #fff;
}

#video {
	width: 100%;
	outline: none;
}